    .question-right {
        border-left: 1px solid black;
        font-size: 20px;
        padding: 10px
    }

    .question-left {
        font-size:20px; 
        padding: 10px
    }

    .answer-right {
        border-left: 1px solid black;
        font-size:15px; 
        padding: 15px; 
        text-align: center;
    }

    .answer-left {
        font-size:15px; 
        padding: 15px; 
        text-align:center;
    }

    .headered {
        text-align: center;
        background-color: #d2b48c;
    }

    img {
        border: 3px solid #d2b48c;
        width:75%;
        height:auto;
    }

    .top-row {
        border: 1px solid black;
        border-top: 0px;
    }

    .bot-3-rows {
        border: 1px solid black; 
        border-top: 0;
    }

    .line-fix {
        height: 258px;
    }
