@import "description-page-table.css";
@import "navbar.css";
@import "sidebar.css";

    .centered {
        text-align: center;
        line-height: 15px;
        color: black;
        font-family: monospace;
    }

    .one-liner {
        font-size: 20px; 
        line-height: 1px;
    }

    .black-text {
        color: black
    }

    .fonted {
        font-family: monospace;
    }
