    .navbar-headers{
        text-align: center;
        border-right: solid 1px rgb(34, 34, 34);
        font-family: monospace;
    }

    #navbar-format{
        margin-top: 20px; 
        border: solid 1px rgb(34, 34, 34); 
        background-color: #d2b48c
    }
